<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_url('homepage/banner.jpg') %>');">
  <div class="container">
    <h1>Spice up your life</h1>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <%= form_tag root_path, method: :get, class: "m-4 col-6" do %>
        <div class="input-group custom-search">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill custom-input",
          placeholder: "Search Chilli"
        %>
        <%= submit_tag "Search", class: "rounded-pill custom-btn" %>
        <i class="fa fa-search pt-5 text-light"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
<h2 class="heading h-size-36 py-4">Or explore our chillis...</h2>
<div class="section py-2 my-4">
  <h3 class="heading h-size-32 py-3">...by type</h3>
  <div class="container py-2">
    <div class="row d-flex justify-content-center">
      <%= render "homepage_card", image_path: "homepage/fresh-chilli.jpg", title: "Fresh" %>
      <%= render "homepage_card", image_path: "homepage/seed-chilli.jpg", title: "Seed" %>
      <%= render "homepage_card", image_path: "homepage/dried-chilli.jpg", title: "Dried" %>
    </div>
  </div>
</div>
<div class="section py-2 my-4">
  <h3 class="heading h-size-32 py-3">...by heat level</h3>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "heat_level" %>
      </div>
    </div>
    <div class="row">
      <span class="heading h-size-24 py-2">No heat</span>
    </div>
  </div>
</div>
<div class="section py-2 my-4">
  <h3 class="heading h-size-32 py-3">...by species</h3>
  <div class="container py-2">
    <div class="row d-flex justify-content-center">
      <%= render "homepage_card", image_path: "species-icons/capsicum-annuum.png", title: "capsicum-annuum" %>
      <%= render "homepage_card", image_path: "species-icons/capsicum-baccatum.png", title: "capsicum-baccatum" %>
      <%= render "homepage_card", image_path: "species-icons/capsicum-chinense.png", title: "capsicum-chinense" %>
    </div>
    <div class="row d-flex justify-content-center">
      <%= render "homepage_card", image_path: "species-icons/capsicum-frutescens.png", title: "capsicum-frutescens" %>
      <%= render "homepage_card", image_path: "species-icons/capsicum-pubescens.png", title: "capsicum-pubescens" %>
    </div>
  </div>
</div>
