<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_url('homepage/banner.jpg') %>');">
  <div class="container">
    <h1>Spice up your life</h1>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <%= form_tag chillis_path, method: :get, class: "m-4 col-6" do %>
        <div class="input-group custom-search">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill custom-input",
          placeholder: "Search Chillies"
        %>
        <%= submit_tag "Search", class: "rounded-pill custom-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container pb-5" data-controller="index-filter" data-index-filter-chilli-count-value="<%= @chillis.count %>" data-index-filter-chilli-type-value="<%= @starting_chilli_type %>">
  <%# TODO: add search bar to update result %>
  <div class="d-flex justify-content-around p-5" >
    <%# <a class="btn btn-filter">Dried</a>
    <a class="btn btn-filter">Fresh</a>
    <a class="btn btn-filter">Seeds</a> %>
    <label class="btn btn-filter <%= @starting_chilli_type == "dried" ? "active" : "inactive" %>" data-action="click->index-filter#filterResults" data-action="click->index-filter#countResults" data-index-filter-target="filter" data-chilli-type="dried">
      Dried
      <input type="checkbox" class="checkbox">
    </label>
    <label class="btn btn-filter <%= @starting_chilli_type == "fresh" ? "active" : "inactive" %>" data-action="click->index-filter#filterResults" data-action="click->index-filter#countResults" data-index-filter-target="filter" data-chilli-type="fresh">
      Fresh
      <input type="checkbox" class="checkbox">
    </label>
    <label class="btn btn-filter <%= @starting_chilli_type == "seeds" ? "active" : "inactive" %>" data-action="click->index-filter#filterResults" data-action="click->index-filter#countResults" data-index-filter-target="filter" data-chilli-type="seeds">
      Seeds
      <input type="checkbox" class="checkbox">
    </label>
  </div>

  <div class="row justify-content-center">
    <div>
      <%# header showing number of results %>
      <h1 class="heading-results pt-5" data-index-filter-target="results">
        <%= @chillis.count %> Results
      </h1>
    </div>
    <% @chillis.each do |chilli| %>
      <div class= "col-12 col-md-6 col-lg-4">
        <%= link_to chilli, class: "card-link nopadding m-3", data: {index_filter_target: "chilli", chilli_type: chilli.chilli_type} do %>
          <div class="card-product">
            <%= cl_image_tag chilli.photos.first.key %>
            <div>
              <div class="card-product-infos">
                <h2><%= chilli.variety.capitalize() %></h2>
                <h3><em>Capsicum <%= chilli.species %></em></h3>
                <h3><%= chilli.chilli_type.capitalize() %></h3>
              </div>
              <div class="d-flex justify-content-around">
                <div>
                  <% case chilli.heat %>
                  <% when "none" %>
                    <h3><%= "No heat" %></h3>
                  <% when "mild" %>
                    <h3><%= "🌶" %></h3>
                  <% when "medium" %>
                    <h3><%= "🌶🌶" %></h3>
                  <% when "hot" %>
                    <h3><%= "🌶🌶🌶" %></h3>
                  <% when "extreme" %>
                    <h3><%= "🌶🌶🌶🌶" %></h3>
                  <% end %>
                </div>
                <h3><%= humanized_money_with_symbol(chilli.price) %></h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container pb-5">
  <div class="row justify-content-center">
    <div class="py-4 w-100">
      <div style="width: 100%; height: 600px; border-radius:20px;"
          data-controller="map-many"
          data-map-many-markers-value="<%= @markers.to_json %>"
          data-map-many-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div height="50px"></div>
