<div class="background">
  <div class="container contianer-show">

    <%# back link %>
    <div class="row">
      <div class="col-12 my-4">
        <p><%= link_to "< Continue Shopping", chillis_path, class: "styling-for-links" %></p>
      </div>
    </div>

    <%# main wrapper %>
    <div class="row justify-content-center">
      <div class="col-8">
        <h2>Your Basket</h2>
        <div class="basket-container gradient-background d-flex flex-column align-items-center pt-3">
          <% @sale.sales_chillis.all.each do |sales_chilli| %>

            <div class="basket-card-product nopadding m-3 d-flex justify-content-between align-items-start w-75">
              <%= cl_image_tag sales_chilli.chilli.photos.first.key %>

              <div class="w-100">

                <div class="d-flex justify-content-between w-100 ps-3">
                  <h2><%= sales_chilli.chilli.variety %></h2>
                  <h2><%= humanized_money_with_symbol(sales_chilli.price) %></h2>
                </div>

                <div class="d-flex align-items-center justify-content-between w-100 ps-3">
                  <p>Quantity: <%= sales_chilli.quantity %><% if ['fruit', 'seed pack'].include?(sales_chilli.chilli.unit) %>
                    <%= sales_chilli.quantity > 1 ? sales_chilli.chilli.unit.pluralize : sales_chilli.chilli.unit%>
                  <% else %>
                    <%= sales_chilli.chilli.unit %>
                  <% end %>
                  </p>
                  <%= link_to "delete", remove_item_path(sales_chilli), data: {turbo_method: 'DELETE'}, class: "styling-for-links-dark"  %>
                </div>

              </div>

            </div>
          <% end %>
          <% if @sale.chillis.all.count > 0 %>
            <hr class="hr-black">
            <div class="d-flex justify-content-between w-75">
              <p>Shipping</p>
              <p><%= "#{@sale.shipping_method} #{@sale.shipping_method == 'standard' ? '£3.00' : '£8.00'}" %></p>
            </div>
            <div class="d-flex justify-content-between w-75">
              <h2>TOTAL</h2>
              <h2><%= humanized_money_with_symbol((@sale.price_cents + 300) / 100.0) %></h2>
            </div>
              <%= link_to 'Checkout', update_basket_path(@sale), data: {turbo_method: 'PATCH'}, class: "btn btn-lg btn-outline-dark text-light rounded-pill my-4 px-4" %>
          <% else %>
            <div class="d-flex justify-content-center w-75 pb-3 ">
              <h2>Your basket is Empty!</h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
